@charset "utf-8";
@media screen {
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.3rem;
    background-image: url(https://storage.googleapis.com/pr-newsroom-wp/1/2022/06/Netflix-ST4_FTR-Banner_01-1440x733.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: #333;
    text-decoration: none;
}

.main-header {
    height: 50vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'ITC Benguiat W01';
}


.main-header h1 {
    font-size: 7rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    line-height: 1.2rem;
    color: #000000;
    text-shadow: #000000 10px 15px 20px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #ff0000;
}


.main-header p {
    font-size: 3.5rem;
    color: #ebe3e3;
    text-shadow: #000000 1px 4px 5px;
    margin-bottom: 2rem;
    
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    
    
}

img {
    width: 100%;
}

.card {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #000000;
    margin-bottom: 4rem;
    border-radius: 30px;
    border: solid #9c1515;
    color: #f3f3f3;
}

.card p{
    font-family: Georgia;
}

.card span{
    font-family: 'ITC Benguiat W01';
    font-size: 1.7rem;
    color: #ff0000;
}

.card h2 {
    margin-bottom: 2rem;
    font-family: 'ITC Benguiat W01';
    font-size: 40px;
}


.card img {
    height: 500px;
    border-radius: 27px;
    
}
/*estava 400px*/

.card>div {
    padding: 2rem;
}

.card:nth-child(even) img {
    order: 2;
}

/*alternar os filhos*/


.btn {
    display: inline-block;
    background: #000000;
    color: #e4dddd;
    font-family: 'ITC Benguiat W01';
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
    border-radius: 10px;
    border: solid #ffffff;
}

.btn:hover {
    opacity: 0.8;
    border: solid #ff0000;
    color: #ff0000;
}

.second-header{
    text-align: center;
    margin-top: 20px;
    font-family: 'ITC Benguiat W01';
    font-size: 30px;
    color: #ff0000;
    background-color: #000000;
}

.second-header h2{
    margin-top: -20px;
}

.second-header hr {
    margin-top: 15px;
    border-color: #ff0000;
}

.galeria {
    background-color: #000000;
    display: flex;
    height: 25rem;
    gap: 1rem;
    
}

.galeria>div {
    margin-top: 20px;
    flex: 1;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    transition: all .5s cubic-bezier(1, 1, 1, 1);
    cursor: pointer;
    border: solid #db1212



}

.galeria>div:hover{
    flex: 3;
}

footer {
    background-color: #000000;
    text-align: center;
    color: #ff0000;
    
}

footer hr{
    margin-bottom: 10px;
    border-color: #ff0000;
}

footer span{
    color: #ffffff;
}

footer a{
    color: #ffffff;
}